.o_kanban_view.o_kanban_dashboard.o_account_kanban {
    $sale-table-spacing: 10px;
    $helpdesk-record-width: 420px;

    .o_fiscal_sequence_warning {
        margin: (0 - $o-kanban-record-margin) ($o-kanban-record-margin - $o-horizontal-padding) $o-kanban-record-margin;
        flex: 1 0 100%;
        padding: 10px ($o-horizontal-padding - $sale-table-spacing);

        background-color: $o-view-background-color;
        position: relative;

        .o_welcome_message {
            width: 100%;
            @include o-position-absolute($left: 0, $top: 0);
            display: flex;
            justify-content: center;

            .o_welcome_image {
                padding: 20px;
            }

            .o_welcome_content > a {
                color: white;
                display: inline-block;
            }
        }

        .o_low_ncf_message {
            display: inline; //this is what makes this big
            text-align: center;
            border-top: 1px solid white;
            vertical-align: top;
            margin-bottom: 0;

            .o_low_ncf_image {
                padding: 1px;
                color: #b10a02
            }

            .o_low_ncf_content > a {
                color: white;
                display: inline-block;
            }
        }

    }
}

