/*!*refund button*!*/


/*stylesheet 5/8 | http://127.0.0.1:8000/point_of_sale/static/src/css/pos.css*/
.pos .control-buttons-refund { display: flex; flex-flow: row wrap; padding: 8px 16px 8px 11px; margin-bottom: -6px; }
.pos .control-button-refund { flex-grow: 1; border: 1px solid #bfbfbf; display: inline-block; line-height: 38px; min-width: 80px; text-align: center; border-radius: 3px; padding: 0px 10px; font-size: 18px; margin-left: 6px; margin-bottom: 6px; cursor: pointer; overflow: hidden; transition: all 150ms linear; background: #e2e2e2; }
.pos .control-button-refund:hover { background: #efefef; }
.pos .control-button-refund:active { color: white; border-color: black; background: black; }
.pos .control-button-refund .fa { margin-right: 4px; }


/*!**!*/

div.modal.in {
    position: absolute;
    background: white;
    padding: 18px;
    box-shadow: 0px 10px 20px black;
    border-radius: 3px;
    max-width: 859px;
    max-height: 600px;
    margin-top: -200px;
    margin-left: -200px;
    top: 25%;
    left: 33%;
    padding-right: 18px !important;
}

.ui-dialog, .modal-dialog {
    padding: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    top: 0px;
    overflow: visible !important;
}

/*stylesheet 1/59 | http://127.0.0.1:8000/web/static/src/css/full.css*/

/*stylesheet 2/59 | http://127.0.0.1:8000/web/static/lib/jquery.ui/jquery-ui.css*/

/*stylesheet 3/59 | http://127.0.0.1:8000/web/static/lib/fontawesome/css/font-awesome.css*/
.fa {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-fw {
    width: 1.28571em;
    text-align: center;
}

.pull-right {
    float: right;
}

.fa-check::before {
    content: "";
}

.fa-trash-o::before {
    content: "";
}

.fa-repeat::before {
    content: "";
}

.fa-refresh::before {
    content: "";
}

.fa-font::before {
    content: "";
}

.fa-bold::before {
    content: "";
}

.fa-italic::before {
    content: "";
}

.fa-align-left::before {
    content: "";
}

.fa-align-center::before {
    content: "";
}

.fa-align-right::before {
    content: "";
}

.fa-align-justify::before {
    content: "";
}

.fa-outdent::before {
    content: "";
}

.fa-indent::before {
    content: "";
}

.fa-picture-o::before {
    content: "";
}

.fa-external-link::before {
    content: "";
}

.fa-link::before {
    content: "";
}

.fa-paperclip::before {
    content: "";
}

.fa-save::before {
    content: "";
}

.fa-square::before {
    content: "";
}

.fa-list-ul::before {
    content: "";
}

.fa-list-ol::before {
    content: "";
}

.fa-underline::before {
    content: "";
}

.fa-table::before {
    content: "";
}

.fa-magic::before {
    content: "";
}

.fa-undo::before {
    content: "";
}

.fa-circle-o::before {
    content: "";
}

.fa-code::before {
    content: "";
}

.fa-unlink::before {
    content: "";
}

.fa-eraser::before {
    content: "";
}

.fa-sun-o::before {
    content: "";
}

.fa-plus-square-o::before {
    content: "";
}

/*stylesheet 4/59 | http://127.0.0.1:8000/web/static/src/fonts/lato/stylesheet.css*/

/*stylesheet 5/59 | http://127.0.0.1:8000/web/static/src/less/mimetypes.less.css*/

/*stylesheet 6/59 | http://127.0.0.1:8000/web/static/src/less/animation.less.css*/

/*stylesheet 7/59 | http://127.0.0.1:8000/web/static/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css*/

/*stylesheet 8/59 | http://127.0.0.1:8000/web/static/lib/select2/select2.css*/

/*stylesheet 9/59 | http://127.0.0.1:8000/web/static/lib/select2-bootstrap-css/select2-bootstrap.css*/

/*stylesheet 10/59 | http://127.0.0.1:8000/rating/static/src/css/rating_common.css*/

/*stylesheet 11/59 | http://127.0.0.1:8000/web_planner/static/src/less/web_planner_common.less.css*/

/*stylesheet 12/59 | http://127.0.0.1:8000/web_editor/static/src/css/web_editor.css*/
.note-toolbar {
    margin-left: 0px !important;
}

.note-popover .popover > .arrow {
    display: none;
}

.hidden {
    display: none !important;
}

/*stylesheet 13/59 | http://127.0.0.1:8000/web_editor/static/src/less/web_editor.less.css*/

/*stylesheet 14/59 | inline*/

/*stylesheet 15/59 | http://127.0.0.1:8000/web/static/lib/jquery.textext/jquery.textext.css*/

/*stylesheet 16/59 | http://127.0.0.1:8000/web/static/lib/jquery.ui.notify/css/ui.notify.css*/

/*stylesheet 17/59 | http://127.0.0.1:8000/web/static/lib/nvd3/nv.d3.css*/

/*stylesheet 18/59 | http://127.0.0.1:8000/web/static/src/css/base.css*/
.openerp {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Grande', Helvetica, Verdana, Arial, sans-serif;
    color: #4c4c4c;
    font-size: 13px;
    background: white;
}

.openerp a {
    text-decoration: none;
    cursor: pointer !important;
}

.openerp table {
    padding: 0px;
    border-collapse: collapse;
}

.openerp td {
    padding: 0px;
    text-align: left;
}

.openerp td {
    vertical-align: top;
}

.openerp .oe_form_group {
    clear: both;
}

.openerp input, .openerp textarea, .openerp select {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: white;
}

.openerp img {
    vertical-align: middle;
}

.openerp h4 {
    margin: 4px 0px;
    font-weight: bold;
    font-size: inherit;
}

.openerp .oe_text_center {
    text-align: center;
}

.openerp .oe-view-manager {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
}

.openerp .oe-view-manager .oe-view-manager-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.openerp .oe-view-manager .oe-view-manager-content > div {
    height: 100%;
    position: static;
    display: none;
}

.openerp .oe_formview {
    background: white;
}

.openerp .o_form_invisible {
    display: none !important;
}

.openerp .oe_form_nosheet {
    margin: 16px;
}

.openerp .oe_form .oe_form_box_info {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cb6;
    padding: 4px;
    background: #fe9;
}

.openerp .oe_form .oe_form_box_info > p {
    margin: auto;
}

.openerp .oe_form td.oe_form_group_cell_label {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ddd;
    padding: 2px 0px;
}

.openerp .oe_form td.oe_form_group_cell_label label {
    line-height: 18px;
    display: block;
    min-width: 150px;
    font-weight: bold !important;
}

.openerp .oe_form td.oe_form_group_cell + .oe_form_group_cell {
    padding: 2px 0px 2px 8px;
}

.openerp .oe_form .oe_form_group {
    width: 100%;
    margin: 9px 0px;
}

.openerp .oe_form .oe_form_label_help[for], .openerp .oe_form .oe_form_label[for] {
    white-space: nowrap;
    padding-right: 8px;
}

.openerp .oe_form .oe_form_field_text {
    width: 100%;
}

.openerp .oe_form .oe_form_field_text .oe_form_text_content {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: pre-wrap;
    overflow-x: hidden;
    width: 100%;
}

.openerp .oe_form .oe_form_field_char input, .openerp .oe_form .oe_form_field_selection select {
    width: 100%;
}

.openerp .oe_form h1, .openerp .oe_form h2, .openerp .oe_form h3, .openerp .oe_form h4, .openerp .oe_form h5, .openerp .oe_form h6 {
    margin: 0px 0px 4px;
}

.openerp .oe_form h1 {
    font-weight: bold;
    font-size: 2em;
}

.openerp .oe_form h2 {
    font-size: 1.5em;
}

.openerp .oe_form label {
    font-weight: bold;
    margin-bottom: 0px;
    display: inline;
}

.openerp .oe_form .oe_form_field {
    width: 100%;
    display: inline-block;
    padding: 2px 2px 2px 0px;
    vertical-align: top;
}

.openerp .oe_form .oe_form_field input {
    margin: 0px;
}

.openerp .oe_form input[type="text"], .openerp .oe_form input[type="file"], .openerp .oe_form select {
    height: 22px;
    padding-top: 2px;
}

.openerp .oe_form input[type="text"], .openerp .oe_form input[type="file"], .openerp .oe_form select, .openerp .oe_form textarea {
    box-sizing: border-box;
    min-width: 60px;
    color: #1f1f1f;
    font-family: 'Lucida Grande', Helvetica, Verdana, Arial, sans-serif;
    background: white;
}

.openerp .oe_form textarea[readonly] {
    color: #666;
    background: #e5e5e5 !important;
}

.openerp .oe_form .oe_form_field_boolean {
    width: auto;
}

.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]) {
    background-color: #d2d2ff !important;
}

.openerp .oe_form .oe_form_field_with_button input {
    width: 100%;
}

.openerp .oe_form .oe_form_field_with_button > div {
    position: relative;
    overflow: hidden;
}

.openerp .oe_form_editable .oe_form .oe_form_field_float input {
    width: 7em;
}

.openerp .oe_hidden_input_file {
    position: relative;
}

.openerp .oe_hidden_input_file input.o_form_input_file {
    z-index: 0;
    line-height: 0;
    font-size: 12px;
    position: absolute;
    top: 1px;
    left: 0px;
    right: 0px;
    opacity: 0;
    margin: 0px;
    padding: 0px;
}

.openerp .oe_fileupload {
    display: inline-block;
    clear: both;
    width: 100%;
    margin-bottom: -15px;
}

.openerp .oe_fileupload .oe_add {
    float: left;
    position: relative;
    width: 100%;
    left: 2px;
    margin: 9px 0px;
    overflow: hidden;
}

.openerp .oe_fileupload .oe_add button {
    display: inline;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
}

.openerp .oe_fileupload .oe_add button.oe_attach {
    width: 24px;
    color: #7c7bad;
    box-shadow: none;
    border: none;
    text-shadow: none;
    background: transparent;
}

.openerp .oe_fileupload .oe_add button.oe_attach .fa {
    position: relative;
    font-size: 18px;
}

.openerp .oe_fileupload .oe_add input.o_form_input_file {
    display: inline-block;
    margin-left: -85px;
    height: 22px;
    width: 152px;
    margin-top: -24px;
    cursor: pointer;
}

.openerp .oe_fileupload .oe_add .oe_attach_label {
    color: #7c7bad;
    margin-left: -3px;
}

.openerp .oe_fileupload .oe_attachments {
    margin-bottom: 4px;
    margin-right: 0px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid rgba(124, 123, 173, 0.137255);
}

.openerp .oe_form_field_many2one {
    display: inline-block;
}

.openerp .oe_form_field_many2one span.oe_m2o_drop_down_button {
    position: absolute;
    top: 2px;
    right: 0px;
}

.openerp .oe_form_field_many2one .oe_m2o_cm_button {
    line-height: 27px;
    float: right;
    padding-left: 2px;
    font-size: 19px;
    color: #7c7bad;
    cursor: pointer;
}

.openerp .oe_form_field_many2one input {
    padding-right: 13px;
}

.openerp .oe_view_manager_new .oe_form_nosheet {
    margin-top: 8px;
}

.openerp .oe_view_manager_new .oe_form_nosheet .oe_form_label {
    font-weight: normal;
}

.openerp h1, .openerp h2 {
    font-weight: bold;
}

.openerp h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.openerp p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.openerp h5 {
    font-weight: bold;
    font-size: smaller;
}

input[type="checkbox"] {
    margin-right: 4px;
    margin-left: 4px;
}

/*stylesheet 19/59 | http://127.0.0.1:8000/web/static/src/css/data_export.css*/

/*stylesheet 20/59 | http://127.0.0.1:8000/base/static/src/css/modules.css*/

/*stylesheet 21/59 | http://127.0.0.1:8000/website/static/src/less/import_bootstrap.less.css*/
footer {
    display: block;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0px;
}

strong {
    font-weight: 700;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0px;
}

img {
    border: 0px;
}

button, input, select, textarea {
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0px;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
}

input {
    line-height: normal;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0px;
}

textarea {
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    padding: 0px;
}

/** {*/
/*box-sizing: border-box;*/
/*}*/

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #22527b;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0px 0px 10px;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #777;
}

.bg-primary {
    color: #fff;
    background-color: #337ab7;
}

.bg-success {
    background-color: #dff0d8;
}

.bg-info {
    background-color: #d9edf7;
}

.bg-warning {
    background-color: #fcf8e3;
}

.bg-danger {
    background-color: #f2dede;
}

ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

blockquote {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    font-size: 17.5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #eee;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-12, .col-sm-6, .col-xs-12, .col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-12, .col-xs-6 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

table {
    background-color: transparent;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type="checkbox"] {
    margin: 4px 0px 0px;
    line-height: normal;
}

input[type="file"] {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-image: none;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    background-image: none;
}

.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn.active, .btn:active {
    outline: 0px;
    box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 5px inset;
    background-image: none;
}

.btn.disabled, .btn[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

.btn-default {
    color: #333;
    border-color: #ccc;
    background-color: #fff;
}

.btn-default:hover {
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}

.btn-default.active, .btn-default:active {
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}

.btn-default.active:hover, .btn-default:active:hover {
    color: #333;
    border-color: #8c8c8c;
    background-color: #d4d4d4;
}

.btn-default.active, .btn-default:active {
    background-image: none;
}

.btn-default[disabled], .btn-default[disabled]:active, .btn-default[disabled]:hover {
    border-color: #ccc;
    background-color: #fff;
}

.btn-primary {
    color: #fff;
    border-color: #2d6da3;
    background-color: #337ab7;
}

.btn-primary:hover {
    color: #fff;
    border-color: #204d73;
    background-color: #285f8f;
}

.btn-primary:active {
    color: #fff;
    border-color: #204d73;
    background-color: #285f8f;
}

.btn-primary:active:hover {
    color: #fff;
    border-color: #122a3f;
    background-color: #204d73;
}

.btn-primary:active {
    background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:active, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:hover {
    border-color: #2d6da3;
    background-color: #337ab7;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top-width: 4px;
    border-top-style: dashed;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: none;
    font-size: 14px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
    background-color: #fff;
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group > .btn {
    position: relative;
    float: left;
}

.btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:hover {
    z-index: 2;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
}

.btn-group > .btn:first-child {
    margin-left: 0px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.btn-group > .btn-group {
    float: left;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.btn-group .dropdown-toggle:active {
    outline: 0px;
}

.btn .caret {
    margin-left: 0px;
}

.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
    background-color: #fff;
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-heading {
    color: #333;
    border-color: #ddd;
    background-color: #f5f5f5;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    opacity: 0.2;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

button.close {
    padding: 0px;
    cursor: pointer;
    border: 0px;
    -webkit-appearance: none;
    background: 0px 0px;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    outline: 0px;
}

.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: -19px;
}

.modal-content {
    position: relative;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    border-radius: 6px;
    /*box-shadow: rgba(0, 0, 0, 0.498039) 0px 3px 9px;*/
    outline: 0px;
    background-color: #fff;
    background-clip: padding-box;
}

.modal-header {
    padding: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    min-height: 16.43px;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0px;
    line-height: 1.42857;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0px;
}

.popover {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.42857;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    background-color: #fff;
    background-clip: padding-box;
}

.popover.bottom {
    margin-top: 10px;
}

.popover-content {
    padding: 9px 14px;
}

.popover > .arrow, .popover > .arrow::after {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-color: transparent;
    border-style: solid;
}

.popover > .arrow {
    border-width: 11px;
}

.popover > .arrow::after {
    border-width: 10px;
    content: "";
}

.popover.bottom > .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    top: -11px;
}

.popover.bottom > .arrow::after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0px;
    border-bottom-color: #fff;
}

.modal-footer::after, .modal-footer::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    content: " ";
    display: table;
}

.modal-footer::after, .panel-body::after, .row::after {
    clear: both;
}

.pull-right {
    float: right !important;
}

/*stylesheet 22/59 | http://127.0.0.1:8000/web/static/src/less/variables.less.css*/

/*stylesheet 23/59 | http://127.0.0.1:8000/web/static/src/less/enterprise_compatibility.less.css*/
.oe-view-manager {
    background-color: #f0eeee !important;
}

.btn-group > .btn:active, .btn-group > .btn:hover, .btn:active, .btn:hover {
    outline: 0px;
}

.oe_button {
    color: #333;
    border-color: #ccc;
    background-color: #fff;
}

.oe_button:hover {
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}

.oe_button:active {
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}

.oe_button:active:hover {
    color: #333;
    border-color: #8c8c8c;
    background-color: #d4d4d4;
}

.oe_button:active {
    background-image: none;
}

.oe_button.btn-primary {
    color: #fff;
    border-color: #2d6da3;
    background-color: #337ab7;
}

.oe_button.btn-primary:hover {
    color: #fff;
    border-color: #204d73;
    background-color: #285f8f;
}

.oe_button.btn-primary:active {
    color: #fff;
    border-color: #204d73;
    background-color: #285f8f;
}

.oe_button.btn-primary:active:hover {
    color: #fff;
    border-color: #122a3f;
    background-color: #204d73;
}

.oe_button.btn-primary:active {
    background-image: none;
}

.openerp .oe_formview .oe_form label {
    font-size: 13px;
}

.openerp .oe_formview .o_form_field_many2manytags {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0px;
}

.openerp .oe_formview .o_form_field_many2manytags > .oe_form_field_many2one {
    padding: 0px;
}

.openerp .oe_formview.oe_form_editable .o_form_field_many2manytags {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.openerp .oe_formview.oe_form_editable .o_form_field_many2manytags > .oe_form_field {
    -webkit-box-flex: 1;
    flex: 1 0 100px;
}

.openerp .oe_formview.oe_form_editable .o_form_field_many2manytags > .oe_form_field input {
    border: none;
}

/*stylesheet 24/59 | http://127.0.0.1:8000/web/static/src/less/utils.less.css*/

/*stylesheet 25/59 | http://127.0.0.1:8000/web/static/src/less/modal.less.css*/
.modal .modal-content {
    border-radius: 0px;
}

.modal .modal-content .modal-body.o_act_window {
    padding: 0px;
}

.modal .modal-content .modal-body .oe-view-manager-content {
    position: static;
}

.modal .modal-content .modal-footer {
    text-align: left;
}

/*stylesheet 26/59 | http://127.0.0.1:8000/web/static/src/less/notification.less.css*/

/*stylesheet 27/59 | http://127.0.0.1:8000/account_batch_deposit/static/src/css/account_reconciliation.css*/

/*stylesheet 28/59 | http://127.0.0.1:8000/account/static/src/css/account_bank_and_cash.css*/

/*stylesheet 29/59 | http://127.0.0.1:8000/account/static/src/css/account.css*/

/*stylesheet 30/59 | http://127.0.0.1:8000/account/static/src/less/account_reconciliation.less.css*/

/*stylesheet 31/59 | http://127.0.0.1:8000/account/static/src/less/account_journal_dashboard.less.css*/

/*stylesheet 32/59 | http://127.0.0.1:8000/base_import/static/src/less/import.less.css*/

/*stylesheet 33/59 | http://127.0.0.1:8000/board/static/src/less/dashboard.less.css*/

/*stylesheet 34/59 | http://127.0.0.1:8000/calendar/static/src/less/calendar.less.css*/

/*stylesheet 35/59 | http://127.0.0.1:8000/crm/static/src/css/crm.css*/

/*stylesheet 36/59 | http://127.0.0.1:8000/point_of_sale/static/src/less/pos_dashboard.less.css*/

/*stylesheet 37/59 | http://127.0.0.1:8000/mail/static/src/less/announcement.less.css*/

/*stylesheet 38/59 | http://127.0.0.1:8000/mail/static/src/less/client_action.less.css*/

/*stylesheet 39/59 | http://127.0.0.1:8000/mail/static/src/less/chat_window.less.css*/

/*stylesheet 40/59 | http://127.0.0.1:8000/mail/static/src/less/composer.less.css*/

/*stylesheet 41/59 | http://127.0.0.1:8000/mail/static/src/less/chatter.less.css*/

/*stylesheet 42/59 | http://127.0.0.1:8000/mail/static/src/less/thread.less.css*/

/*stylesheet 43/59 | http://127.0.0.1:8000/sale/static/src/css/sale.css*/

/*stylesheet 44/59 | http://127.0.0.1:8000/sales_team/static/src/css/sales_team.css*/

/*stylesheet 45/59 | http://127.0.0.1:8000/sales_team/static/src/less/sales_team_dashboard.less.css*/

/*stylesheet 46/59 | http://127.0.0.1:8000/web_tip/static/src/less/tip.less.css*/

/*stylesheet 47/59 | http://127.0.0.1:8000/web_calendar/static/src/less/web_calendar.less.css*/

/*stylesheet 48/59 | http://127.0.0.1:8000/web_calendar/static/lib/fullcalendar/css/fullcalendar.css*/

/*stylesheet 49/59 | http://127.0.0.1:8000/web_diagram/static/src/less/diagram_view.less.css*/

/*stylesheet 50/59 | http://127.0.0.1:8000/web_editor/static/lib/summernote/summernote.css*/
.note-editor {
    position: relative;
    border: 1px solid #a9a9a9;
}

.note-editor .note-dropzone {
    position: absolute;
    z-index: 1;
    display: none;
    color: #87cefa;
    border: 2px dashed #87cefa;
    opacity: 0.95;
    background-color: white;
}

.note-editor .note-dropzone .note-dropzone-message {
    display: table-cell;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.note-editor .note-toolbar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #a9a9a9;
    background-color: #f5f5f5;
}

.note-editor .note-statusbar {
    background-color: #f5f5f5;
}

.note-editor .note-statusbar .note-resizebar {
    width: 100%;
    height: 8px;
    cursor: ns-resize;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #a9a9a9;
}

.note-editor .note-statusbar .note-resizebar .note-icon-bar {
    width: 20px;
    margin: 1px auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #a9a9a9;
}

.note-editor .note-editable {
    padding: 10px;
    overflow: auto;
    outline: 0px;
}

.note-editor .note-codable {
    display: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    font-family: Menlo, Monaco, monospace, sans-serif;
    font-size: 14px;
    color: #ccc;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    box-sizing: border-box;
    resize: none;
    background-color: #222;
}

.note-popover .popover {
    max-width: none;
}

.note-popover .popover .popover-content a {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.note-popover .popover .arrow {
    left: 20px;
}

.note-popover .popover .popover-content, .note-toolbar {
    padding: 0px 0px 5px 5px;
    margin: 0px;
}

.note-popover .popover .popover-content > .btn-group, .note-toolbar > .btn-group {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0px;
}

.note-toolbar .note-table .dropdown-menu {
    min-width: 0px;
    padding: 5px;
}

.note-toolbar .note-table .dropdown-menu .note-dimension-picker {
    font-size: 18px;
}

.note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-mousecatcher {
    z-index: 3;
    width: 10em;
    height: 10em;
    cursor: pointer;
    position: absolute !important;
}

.note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-unhighlighted {
    z-index: 1;
    width: 5em;
    height: 5em;
    position: relative !important;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat;
}

.note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-highlighted {
    z-index: 2;
    width: 1em;
    height: 1em;
    position: absolute !important;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat;
}

.note-toolbar .note-style h1, .note-toolbar .note-style h2, .note-toolbar .note-style h3, .note-toolbar .note-style h4, .note-toolbar .note-style h5, .note-toolbar .note-style h6, .note-toolbar .note-style blockquote {
    margin: 0px;
}

.note-toolbar .note-color .dropdown-toggle {
    width: 20px;
    padding-left: 5px;
}

.note-toolbar .note-color .dropdown-menu {
    min-width: 340px;
}

.note-toolbar .note-color .dropdown-menu .btn-group {
    margin: 0px;
}

.note-toolbar .note-color .dropdown-menu .btn-group:first-child {
    margin: 0px 5px;
}

.note-toolbar .note-color .dropdown-menu .btn-group .note-palette-title {
    margin: 2px 7px;
    font-size: 12px;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset {
    padding: 0px 3px;
    margin: 3px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
}

.note-toolbar .note-color .dropdown-menu .btn-group .note-color-row {
    height: 20px;
}

.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset:hover {
    background: #eee;
}

.note-toolbar .note-para .dropdown-menu {
    min-width: 216px;
    padding: 5px;
}

.note-toolbar .note-para .dropdown-menu > div:first-child {
    margin-right: 5px;
}

.note-popover .popover .popover-content .dropdown-menu, .note-toolbar .dropdown-menu {
    min-width: 90px;
}

.note-toolbar .dropdown-menu li a i {
    color: deepskyblue;
    visibility: hidden;
}

.note-popover .popover .popover-content .note-fontsize-10 {
    font-size: 10px;
}

.note-toolbar .note-color-palette {
    line-height: 1;
}

.note-toolbar .note-color-palette div .note-color-btn {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #fff;
}

.note-toolbar .note-color-palette div .note-color-btn:hover {
    border: 1px solid #000;
}

.note-dialog > div {
    display: none;
}

.note-dialog .note-help-dialog {
    font-size: 12px;
    color: #ccc;
    border: 0px;
    opacity: 0.9;
    background-image: initial;
    background-attachment: initial;
    background-color: #222 !important;
    background-size: initial;
    background-origin: initial;
    background-clip: initial;
    background-position: initial;
    background-repeat: initial;
}

.note-dialog .note-help-dialog .modal-content {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: none;
    background: transparent;
}

.note-dialog .note-help-dialog a {
    font-size: 12px;
    color: white;
}

.note-dialog .note-help-dialog .title {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.note-dialog .note-help-dialog .modal-close {
    font-size: 14px;
    color: #dd0;
    cursor: pointer;
}

.note-dialog .note-help-dialog .note-shortcut {
    margin-top: 8px;
}

.note-handle .note-control-selection {
    position: absolute;
    display: none;
    border: 1px solid black;
}

.note-handle .note-control-selection > div {
    position: absolute;
}

.note-handle .note-control-selection .note-control-selection-bg {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: black;
}

.note-handle .note-control-selection .note-control-holder {
    width: 7px;
    height: 7px;
    border: 1px solid black;
}

.note-handle .note-control-selection .note-control-sizing {
    width: 7px;
    height: 7px;
    border: 1px solid black;
    background-color: white;
}

.note-handle .note-control-selection .note-control-nw {
    top: -5px;
    left: -5px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.note-handle .note-control-selection .note-control-ne {
    top: -5px;
    right: -5px;
    border-bottom-width: 0px;
    border-left-style: none;
}

.note-handle .note-control-selection .note-control-sw {
    bottom: -5px;
    left: -5px;
    border-top-width: 0px;
    border-right-width: 0px;
}

.note-handle .note-control-selection .note-control-se {
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}

.note-handle .note-control-selection .note-control-selection-info {
    right: 0px;
    bottom: 0px;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    opacity: 0.7;
    background-color: black;
}

/*stylesheet 51/59 | http://127.0.0.1:8000/web_editor/static/src/css/snippets.css*/

/*stylesheet 52/59 | http://127.0.0.1:8000/web_editor/static/src/css/editor.css*/
.note-popover, .note-image-dialog {
}

.note-popover *, .note-image-dialog * {
    box-sizing: border-box;
}

.note-popover a {
    text-decoration: none;
}

.note-popover ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

.note-image-dialog .row::before, .note-image-dialog .row::after, .note-image-dialog .modal-footer::before, .note-image-dialog .modal-footer::after {
    content: " ";
    display: table;
    clear: both;
}

.note-popover .caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    border-top-width: 4px;
    border-top-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: transparent;
}

.note-popover .btn.dropdown-toggle {
    position: relative;
    float: left;
}

.note-popover .btn, .note-image-dialog .btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    border-radius: 4px;
    background-image: none;
}

.note-popover .btn .caret {
    margin-left: 0px;
}

.note-image-dialog .btn.disabled, .note-image-dialog .btn[disabled], .note-image-dialog .btn.disabled:hover, .note-image-dialog .btn[disabled]:active {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none;
}

.note-popover .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.note-popover .btn-group {
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.note-popover .btn-group > .btn {
    position: relative;
    float: left;
}

.note-popover .btn-group > .btn:first-child {
    margin-left: 0px;
}

.note-popover .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.note-popover .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
}

.note-popover .btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.note-popover .btn-group .btn + .btn, .note-popover .btn-group + .btn-group {
    margin-left: -1px;
}

.note-image-dialog .form-group {
    margin-bottom: 15px;
}

.note-image-dialog .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
    background-image: none;
    background-color: #fff;
}

.note-image-dialog label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.note-popover .btn-group > .btn {
    color: #333;
    border-color: #ccc;
    text-decoration: none;
    background-color: #fff;
}

.note-popover .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: none;
    font-size: 14px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
    background-color: #fff;
    background-clip: padding-box;
}

.note-popover .dropdown-menu > li > a {
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #666;
    white-space: nowrap;
    display: block !important;
    background: transparent;
}

.note-popover .hidden {
    display: none !important;
}

.note-popover .btn {
    height: 30px;
}

.note-popover {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #666;
}

.note-popover button {
    margin: 0px;
}

.note-popover a {
    color: #428bca;
}

.note-popover a:hover {
    color: #2a6496;
    text-decoration: underline;
}

.note-popover .popover {
    border: 0px;
    box-shadow: none;
    z-index: 1040;
    padding: 1px;
    text-align: left;
    white-space: normal;
    border-radius: 6px;
    max-width: none;
    position: fixed !important;
    top: 1px !important;
    right: auto !important;
    left: 300px !important;
    margin-top: 0px !important;
    background: transparent;
}

.note-popover .popover .popover-content {
    padding: 0px;
    margin: 0px 0px 0px 6px;
}

.note-popover .popover .popover-content .btn-group {
    margin: 0px 5px 0px 0px;
}

.note-popover .popover .popover-content > a {
    border-radius: 3px;
    border-color: #ccc;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
}

.note-popover .arrow {
    display: none;
}

.note-popover .btn-default {
    color: #333;
    border-color: #ccc;
    background-color: #fff;
}

.note-image-dialog {
    color: #666;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    outline: 0px;
}

.note-image-dialog .btn {
    border-color: #ccc;
}

.note-image-dialog .btn-primary {
    color: #fff;
    border-color: #357ebd;
    background-color: #428bca;
}

.note-image-dialog .modal-footer .btn {
    border-color: #ccc;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
}

.note-image-dialog .modal-title {
    margin: 0px;
    line-height: 1.42857;
}

.note-image-dialog .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.note-image-dialog .modal-content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 3px 9px;
    outline: 0px;
    background-color: #fff;
    background-clip: padding-box;
}

.note-image-dialog .modal-header {
    padding: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    min-height: 16.43px;
}

.note-image-dialog .modal-header .close {
    margin-top: -2px;
}

.note-image-dialog .modal-body {
    position: relative;
    padding: 15px;
}

.note-image-dialog .modal-footer {
    text-align: left;
    padding: 15px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
}

.note-image-dialog .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    opacity: 0.2;
}

.note-image-dialog button.close {
    padding: 0px;
    cursor: pointer;
    border: 0px;
    -webkit-appearance: none;
    background: 0px 0px;
}

.note-image-dialog .btn {
    height: 34px;
    font-size: 14px;
}

.modal-open .note-image-dialog {
    overflow-x: hidden;
    overflow-y: auto;
}

.colorpicker {
    margin: 0px auto;
    border: 0px;
    background: transparent;
}

.colorpicker td {
    padding: 0px;
    background: transparent;
}

.colorpicker td > * {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin: 3px;
    padding: 0px;
    border-width: 1px;
    display: block;
}

[draggable] {
    -webkit-user-select: none;
}

/*stylesheet 53/59 | http://127.0.0.1:8000/web_editor/static/src/css/backend.css*/
.oe_form_field_html_text .note-editable {
    min-height: 180px;
    font-style: initial !important;
    font-variant: initial !important;
    font-weight: initial !important;
    font-stretch: initial !important;
    font-size: initial !important;
    font-family: inherit !important;
    line-height: initial !important;
    color: initial !important;
}

.oe_form_field_html_text .note-editable p {
    margin: initial;
}

/*stylesheet 54/59 | http://127.0.0.1:8000/web_kanban/static/src/less/kanban_dashboard.less.css*/

/*stylesheet 55/59 | http://127.0.0.1:8000/web_kanban/static/src/less/kanban_view.less.css*/

/*stylesheet 56/59 | http://127.0.0.1:8000/web_sheet_full_width/static/src/css/web_sheet_full_width.css*/

/*stylesheet 57/59 | http://127.0.0.1:8000/web_view_editor/static/src/css/view_editor.css*/

/*stylesheet 58/59 | http://127.0.0.1:8000/web_settings_dashboard/static/src/less/dashboard.less.css*/

/*stylesheet 1/6 | http://127.0.0.1:8000/web/static/src/css/full.css*/

/*stylesheet 2/6 | http://127.0.0.1:8000/web/content/1157-5396b0d/web.assets_common.0.css*/
.fa {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-times::before {
    content: "";
}

/*stylesheet 3/6 | inline*/

/*stylesheet 4/6 | http://127.0.0.1:8000/web/content/1101-c449a91/web.assets_backend.0.css*/
.openerp input {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: white;
}

.openerp img {
    vertical-align: middle;
}

.openerp .oe_form .oe_form_field {
    width: 100%;
    display: inline-block;
    padding: 2px 2px 2px 0px;
    vertical-align: top;
}

.openerp .oe_form .oe_form_field input {
    margin: 0px;
}

.openerp .oe_form input[type="text"] {
    height: 22px;
    padding-top: 2px;
}

.openerp .oe_form input[type="text"] {
    box-sizing: border-box;
    min-width: 60px;
    color: #1f1f1f;
    font-family: 'Lucida Grande', Helvetica, Verdana, Arial, sans-serif;
    background: white;
}

.openerp .oe_form .oe_form_field_with_button input {
    width: 100%;
}

.openerp .oe_form .oe_form_field_with_button > div {
    position: relative;
    overflow: hidden;
}

.openerp .oe_form_field_many2one {
    display: inline-block;
}

.openerp .oe_form_field_many2one span.oe_m2o_drop_down_button {
    position: absolute;
    top: 2px;
    right: 0px;
}

.openerp .oe_form_field_many2one input {
    padding-right: 13px;
}

.openerp .badge {
    font-weight: normal;
    font-size: 11px;
    background-color: #7c7bad;
}

img {
    border: 0px;
}

input {
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0px;
}

input {
    line-height: normal;
}

/** {*/
    /*box-sizing: border-box;*/
/*}*/


input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img {
    vertical-align: middle;
}

.dropdown {
    position: relative;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    background-color: #777;
}

.openerp .oe_formview .o_form_field_many2manytags {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0px;
}

.openerp .oe_formview .o_form_field_many2manytags .badge {
    cursor: pointer;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0px 3px 3px 0px;
    color: #fff;
    font-size: 12px;
}

.openerp .oe_formview .o_form_field_many2manytags .badge .o_delete {
    cursor: pointer;
}

.openerp .oe_formview .o_form_field_many2manytags > .oe_form_field_many2one {
    padding: 0px;
}

.openerp .oe_formview.oe_form_editable .o_form_field_many2manytags {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.openerp .oe_formview.oe_form_editable .o_form_field_many2manytags > .oe_form_field {
    -webkit-box-flex: 1;
    flex: 1 0 100px;
}

.openerp .oe_formview.oe_form_editable .o_form_field_many2manytags > .oe_form_field input {
    border: none;
}

.o_form_field_many2manytags .o_tag_color_0 {
    background-color: #b6bbbf;
}

/*stylesheet 5/6 | http://127.0.0.1:8000/web/content/1102-c449a91/web.assets_backend.1.css*/
[draggable] {
    -webkit-user-select: none;
}

