.pos .invoiceslist-screen .button.search {
    left: 50%;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 18px;
    font-size: 14px;
}

.popup > p.body {
    white-space: pre-wrap;
    text-align: left;
}