.orders-screen-content{
    margin: 0px auto;
    max-width: 98%;
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.pos-fiscal-type{
    float:left;
    color:#DDD;
    font-size:16px;
    margin-left:10px;
    line-height: 48px;
    font-style:italic;
}