[submodule "pos-addons"]
	path = pos-addons
	url = https://github.com/it-projects-llc/pos-addons
	branch = 12.0
[submodule "external_service_addons"]
	path = external_service_addons
	url = https://github.com/indexa-git/external_service_addons.git
	branch = 12.0